<div id="root">
    <div class="notifications-wrapper"></div>
    <div>
        <div class="fb-customerchat" page_id="162900254502180" ref="/cotunxinhne" minimized="true"></div>
    </div>
    <div class="wrapper" style="top: 80px;">
        <div class="container">
            <div class="player-profile-left-wrap col-md-3">
                <div class="avt avt-lg"><img
                        src="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__1dfb4b50-a75c-11eb-9674-a727edc307c1__player_avatar.jpg"
                        class="avt-img" alt="PD"></div>
                <div class="rent-time-wrap">
                    <p class="ready">Đang sẵn sàng</p>
                </div>

                <div class="member-since"><span>Ngày tham gia:</span><span><span>30/8/2019</span></span>
                </div>

            </div>
            <div class="player-profile-right-wrap col-md-3 col-md-push-6">
                <div class="right-player-profile">
                    <p class="price-player-profile">69,000 đ/h</p>
                    <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i>&nbsp;<span>181 <span>Đánh giá</span></span>
                    </div>
                    <div class="text-center">
                        <button class="btn-my-style red" (click)="click()">Thuê</button>
                    </div>
                </div>
            </div>
            <div class="player-profile-main-wrap col-md-6 col-md-pull-3">
                <div>
                    <div class="row">
                        <div class="center-item col-md-12"><span class="name-player-profile hidden-over-name">Ngọc Dung
                                &lt;3</span></div>
                    </div>
                    <div class="nav-player-profile row">

                        <div class="col-md-3 col-xs-6">
                            <div class="item-nav-name"><span>Đã được thuê</span></div>
                            <div class="item-nav-value">1909&nbsp;<span>giờ</span></div>
                        </div>

                    </div>
                    <hr>
                    <div class="title-player-profile row">
                        <div class="col-md-12"><span>Thông tin</span></div>
                    </div>
                    <div class="content-player-profile">
                        <p>Anh thích là được............ <strong>All Game</strong></p>
                        <div class="album-of-player">
                            <div>
                                <a href="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__b10ed3f0-8f40-11eb-a003-df7961345dfa__player_album.jpg"
                                    style="display: block;"><img
                                        src="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__b10ed3f0-8f40-11eb-a003-df7961345dfa__player_album.jpg"
                                        class=""
                                        alt="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__b10ed3f0-8f40-11eb-a003-df7961345dfa__player_album.jpg"></a>
                                <a href="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__97d1bed0-760d-11eb-b0fd-1d8153398506__player_album.jpg"
                                    style="display: block;"><img
                                        src="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__97d1bed0-760d-11eb-b0fd-1d8153398506__player_album.jpg"
                                        class=""
                                        alt="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__97d1bed0-760d-11eb-b0fd-1d8153398506__player_album.jpg"></a>
                                <a href="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__91009900-760d-11eb-b33d-fdadf423b3d4__player_album.jpg"
                                    style="display: block;"><img
                                        src="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__91009900-760d-11eb-b33d-fdadf423b3d4__player_album.jpg"
                                        class=""
                                        alt="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__91009900-760d-11eb-b33d-fdadf423b3d4__player_album.jpg"></a>
                                <a href="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__896ce680-760d-11eb-9886-a967fa33695f__player_album.jpg"
                                    style="display: block;"><img
                                        src="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__896ce680-760d-11eb-9886-a967fa33695f__player_album.jpg"
                                        class=""
                                        alt="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__896ce680-760d-11eb-9886-a967fa33695f__player_album.jpg"></a>
                                <a href="https://playerduo.com/api/upload-service/images/9e549e68-8ca3-4baa-ad33-dabc287301f0__b5e7b650-726f-11eb-a936-4beaef1c6a38__player_album.jpg"
                                    style="display: block;"><img
                                        src="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__b5e7b650-726f-11eb-a936-4beaef1c6a38__player_album.jpg"
                                        class=""
                                        alt="https://playerduo.com/api/upload-service/thumbs/medium/9e549e68-8ca3-4baa-ad33-dabc287301f0__b5e7b650-726f-11eb-a936-4beaef1c6a38__player_album.jpg"></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <p>✨Em chơi được All Game game gì cũng được Anh thích là được 😋</p>
                        <p></p>
                        <p>✨Em là gái Bắc nhưng nếu anh thích em có thể nói tiếng Sài Gòn Anh thích là được 😝</p>
                        <p></p>
                        <p>✨Nói chuyện tâm sự thoải mái 😍 Call Video X10 vì em không có nhu cầu </p>
                        <p></p>
                        <p>✨Chuyên Rừng nhưng em có thể đi all lane chỉ cần Anh thích là được !!!</p>
                        <p></p>
                        <p>✨Vui tính, lầy lội hay chửi bậy user đừng chửi e nhớ 🤪</p>
                        <p></p>
                        <p>✨Trả lời nhanh nên đừng huỷ tội bé nếu không thấy em rep call ngay 0373488332 hoặc ib FB</p>
                        <p></p>
                        <p>✨Hứa ngoan nèeee anh thích là được</p>
                        <p></p>
                        <p>✨Rent 1 lần chắc chắn k quên bé đâu ư ư 🤣 ánh sẽ thích suốt đờiiii</p>
                        <p>✨ Không tiếp mấy thành phần trẻ trâu bệnh hoạn kinh tởm nhé </p>
                        <p>Link FB: <a target="_blank"
                                href="https://www.facebook.com/profile.php?id=100031104101308">https://www.facebook.com/profile.php?id=100031104101308</a>
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="button-scroll-top" style="display: none;"><button><i class="fas fa-chevron-up"></i></button></div>
</div>
<div role="dialog" *ngIf="isRent">
    <div class="fade modal-backdrop in"></div>
    <div role="dialog" tabindex="-1" class="fade modal-donate in modal" style="display: block; padding-left: 0px;">
        <div class="modal-dialog">
            <div class="modal-content" role="document">
                <div class="modal-header"><button type="button" class="close"><span aria-hidden="true"
                            (click)="close()">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span>Thuê player</span></h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>Player:</td>
                                <td>Ngọc Dung &lt;3</td>
                            </tr>
                            <tr>
                                <td><span>Thời gian muốn thuê</span>:</td>
                                <td><select name="timeRent" class="form-control">
                                        <option value="1">1&nbsp;giờ</option>
                                        <option value="2">2&nbsp;giờ</option>
                                        <option value="3">3&nbsp;giờ</option>
                                        <option value="4">4&nbsp;giờ</option>
                                        <option value="5">5&nbsp;giờ</option>
                                        <option value="6">6&nbsp;giờ</option>
                                        <option value="7">7&nbsp;giờ</option>
                                        <option value="8">8&nbsp;giờ</option>
                                        <option value="9">9&nbsp;giờ</option>
                                        <option value="10">10&nbsp;giờ</option>
                                        <option value="11">11&nbsp;giờ</option>
                                        <option value="12">12&nbsp;giờ</option>
                                        <option value="13">13&nbsp;giờ</option>
                                        <option value="14">14&nbsp;giờ</option>
                                        <option value="15">15&nbsp;giờ</option>
                                        <option value="16">16&nbsp;giờ</option>
                                        <option value="17">17&nbsp;giờ</option>
                                        <option value="18">18&nbsp;giờ</option>
                                        <option value="19">19&nbsp;giờ</option>
                                        <option value="20">20&nbsp;giờ</option>
                                        <option value="21">21&nbsp;giờ</option>
                                        <option value="22">22&nbsp;giờ</option>
                                        <option value="23">23&nbsp;giờ</option>
                                        <option value="24">24&nbsp;giờ</option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td><span>Chi phí</span>:</td>
                                <td><span class="price">69,000 đ</span></td>
                            </tr>
                            <tr>
                                <td><span>Số dư hiện tại</span>:</td>
                                <td><span class="total-amount">0đ</span><span class="load-more-credit">+</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><textarea placeholder="Type a message ..." name="message"
                                        maxlength="255" type="text" class="form-control"></textarea>
                                    <p class="err-message"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer"><button type="button"
                        class="btn-fill btn btn-danger"><span>Thuê</span></button><button type="button"
                        class="btn btn-default"><span (click)="close()">Đóng</span></button></div>
            </div>
        </div>
    </div>
</div>