<div id="root">
    <div class="notifications-wrapper"></div>
    <div>
        <div class="fb-customerchat" page_id="162900254502180" ref="/cotunxinhne" minimized="true"></div>
    </div>
    <div class="wrapper" style="top: 80px;">
        <div class="container">
            <div class="player-profile-left-wrap col-md-3">
                <div class="avt avt-lg"><img
                        src="{{image_path}}{{profile.avatar}}"
                        class="avt-img" alt="PD"></div>
                <div class="rent-time-wrap">
                    <p class="ready">Đang sẵn sàng</p>
                </div>

                <div class="member-since"><span>Ngày tham gia:</span><span><span>30/8/2019</span></span>
                </div>

            </div>
            <div class="player-profile-right-wrap col-md-3 col-md-push-6">
                <div class="right-player-profile">
                    <p class="price-player-profile">{{profile.price_per_hour}} đ/h </p>

                    <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i>&nbsp;<span>181 <span>Đánh giá</span></span>
                    </div>
                    <div class="text-center">
                       <app-request></app-request>

                    </div>
                </div>
            </div>
            <div class="player-profile-main-wrap col-md-6 col-md-pull-3">
                <div>
                    <div class="row">

                        <div class="center-item col-md-12"><span class="name-player-profile hidden-over-name">{{profile.name}}
                                &lt;3</span></div>
                    </div>
                    <div class="nav-player-profile row">

                        <div class="col-md-3 col-xs-6">
                            <div class="item-nav-name"><span>Đã được thuê</span></div>
                            <div class="item-nav-value">1909&nbsp;<span>giờ</span></div>
                        </div>

                    </div>
                    <hr>
                    <div class="title-player-profile row">
                        <div class="col-md-12"><span>Thông tin</span></div>
                    </div>
                    <div class="content-player-profile">
                        <p>Anh thích là được............ <strong>All Game</strong></p>
                        <div class="album-of-player">
                            <div>
                                <a href=""
                                    style="display: block;"><img
                                        src="{{image_path}}{{profile.avatar}}"
                                        class=""
                                        alt=""></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <p>✨Hiện tại đang sống ở {{profile.city}} 😋</p>
                        <p></p>
                        <p>✨Đến từ {{profile.country}} 😝</p>
                        <p></p>
                        <p>✨ 😍 </p>
                        <p></p>
                        <p>✨Sở thích của mình là {{profile.hobby}}</p>
                        <p></p>
                        <p>✨Mình có một yêu cầu nho nhỏ đó là phải {{profile.required}} 🤪</p>
                        <p></p>
                    
                        <p>Link FB: <a target="_blank"
                                href="https://www.facebook.com/profile.php?id=100031104101308">https://www.facebook.com/profile.php?id=100031104101308</a>
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="button-scroll-top" style="display: none;"><button><i class="fas fa-chevron-up"></i></button></div>
</div>
