<div class="wrapper">
    <div class="container">
        <div class="row login-page">
            <div class="col-md-7 hidden-sm hidden-xs image-login"><img src="/favicons/banner_login.jpg" class="" alt="PD"></div>
            <div class="col-md-5  col-xs-12 form-content">
                <div class="content-main">
                    <form >
                        <div class="fieldGroup "><input type="text" name="username" placeholder="Tên đăng nhập hoặc email" maxlength="5000" autocomplete="false" value="huythang1019@gmail.com"></div>

                        <div class="fieldGroup "><input type="password" name="password" placeholder="Mật khẩu" maxlength="5000" autocomplete="false" value="123456"></div><button ><span >Đăng nhập</span></button>

                    </form>

                    <div class="content-middle"><i class="fab fa-facebook-square"></i>
                        <p class="forgot-password"><a href="/login"><span>Quên mật khẩu?</span></a></p>
                    </div><button style="background-color: gray;"><span >Tạo tài khoản</span></button>
                </div>
            </div>
        </div>
    </div>
</div>