<div id="root">
    <div class="wrapper" style="top: 75px;background-color: rgb(233, 235, 238)">
        <div class="container">
            <div class="user__profile row">
                <div class="col-md-3">
                    <div class="user__action--introduce ">
                        <div class="user__action--intro">
                            <div class="user__action--avatar">
                                <div class="user--avatar"><img src="https://playerduo.com/api/upload-service/images/118aab27-ab21-4e27-bf57-dd92784628b4__65d140c0-c458-11ea-b386-575fea6f28e2__page_avatar.jpg" class="" alt="avatar" sizes="md">
                                    <div class="hover-change-image"><span><i class="fas fa-camera" aria-hidden="true"></i></span></div>
                                </div>
                            </div>
                            <div class="user__action--content hidden-over-name">
                                <h5><a><strong>{{ account.name}}</strong></a></h5>
                                <h6>(ez)</h6>
                            </div>
                            <div class="user__action--mb">
                                <div class="user__action--media"></div>
                                <div class="user__action--info">
                                    <p><span>Năm sinh</span>: 19/10/1999</p>
                                    <p><span>Sống tại</span>: Hà Nội</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="user__action--introduce ">
                        <div class="user__button">
                            <a routerLink="/users/setting/account" ><button type="button" class="user__btn_action red-color btn-ext  btn btn-default">
                             <i class="fa fa-cogs"></i>Cài Đặt Tài Khoản</button></a>
                        </div>
                    </div>
                    <div class="user__action---mobile hidden-lg hidden-md user__button"><button type="button" class="user__btn_action red-color btn-ext  btn btn-default">Ẩn thông tin khác</button></div>
                    <div class="title-mobile hidden-lg hidden-md"></div>
                    <div class="hidden-lg hidden-md">
                        <div class="user__search hidden-sm hidden-xs">
                            <div class="group-search"><span class="search input-group"><input placeholder="Tìm kiếm bài viết" name="name" type="text" class="form-control" value=""><span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span></span>
                            </div>
                        </div>
                        <div class="title-mobile hidden-lg hidden-md"></div><br>
                    </div>
                </div>
                <div class="group-main-wrap col-md-6">
                    <div class="user__search hidden-lg hidden-md">
                        <div class="group-search"><span class="search input-group"><input placeholder="Tìm kiếm bài viết" name="name" type="text" class="form-control" value=""><span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span></span>
                        </div>
                    </div>
                    <div class="publish-post-wrap">
                        <div class="header">
                            <div class="articles-editor-wrap">
                                <div class="avt avt-sm"><img src="https://playerduo.com/api/upload-service/images/118aab27-ab21-4e27-bf57-dd92784628b4__65d140c0-c458-11ea-b386-575fea6f28e2__page_avatar.jpg" class="avt-img" alt="PD"></div><textarea class="inter-text" name="content"
                                    placeholder="Hãy viết gì đó vào đây..." style="height: 34px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center message-error-group">
                        <h5>Không tìm thấy bài viết nào</h5>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="button-scroll-top" style="display: none;"><button><i class="fas fa-chevron-up"></i></button></div>
</div>