
        <div >
            <div class="aside">
                <div class="row flowaccount">
                    <div class="col-sm-4 col-xs-12">
                        <div class="border">
                            <p>TỔNG TIỀN ĐÃ NẠP</p><span>0đ </span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="border">
                            <p>TỔNG TIỀN ĐÃ DONATE</p><span>0đ </span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="border">
                            <p>SỐ GIỜ ĐÃ THUÊ</p><span>0 Giờ</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 personalinfo">
                        <h3>Đăng ký cung cấp dịch vụ</h3>
                        <!-- <div class="d-flex img-avatar"><img src="https://playerduo.com/api/upload-service/images/118aab27-ab21-4e27-bf57-dd92784628b4__65d140c0-c458-11ea-b386-575fea6f28e2__page_avatar.jpg" class="" alt="avatar" sizes="sm">
                            <div class="cropimg-avatar"><button type="button"><span> Thay Đổi<p>JPG, GIF or PNG, &lt;5 MB. </p></span></button></div>
                        </div> -->
                        
                        <!-- <div class="editor-avatar-section">
                            <div><canvas width="620" height="620" class="editor-canvas" style="width: 310px; height: 310px; cursor: grab; touch-action: none;"></canvas></div><br>
                            <div class="box"><input class="input-file-1" name="newImage" type="file" accept="image/png, image/jpeg, image/jpg"></div><br><input name="scale" type="range" min="1" max="3" step="0.01" value="1" style="width: 15%; margin: 0px auto;"><br><button value="Save">Lưu</button><button value="Cancel">Huỷ bỏ</button>
                        </div> -->

                        <form class="from-userinfo" [formGroup]="createForm"  (ngSubmit)="onSubmit()">
                            <div class="fieldGroup ">
                                <p class="control-label">Họ và tên</p><input type="text" formControlName="name" [(ngModel)]="this.profile.name"  name="name" placeholder="" maxlength="5000" autocomplete="false" >
                            </div>
                            
                            <div class="fieldGroup ">
                                <p class="control-label">Cân nặng</p><input type="text" name="weight" formControlName="weight" [(ngModel)]="this.profile.weight" placeholder="" maxlength="5000" autocomplete="false" >
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Chiều cao</p><input type="text" name="height" formControlName="height" placeholder="" [(ngModel)]="this.profile.height" maxlength="5000" autocomplete="false" >
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Yêu cầu</p><input type="text" name="required" placeholder="" formControlName="required" [(ngModel)]="this.profile.required" maxlength="5000" autocomplete="false">
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Sở thích</p><input type="text" name="hobby" placeholder="" formControlName="hobby" [(ngModel)]="this.profile.hobby" maxlength="5000" autocomplete="false" >
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Mô tả</p><textarea name="description" id="" cols="30" rows="10"  [(ngModel)]="this.profile.description" formControlName="description" style="width:400px"></textarea>

                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Ngày sinh</p><input type="date" formControlName="date_of_birth" [(ngModel)]="this.profile.date_of_birth" name="date_of_birth" placeholder="" maxlength="5000" autocomplete="false">
                            </div>
                            <p class="control-label">Giọng</p><select formControlName="voice" [(ngModel)]="this.profile.voice" name="voice">
                                <option disabled="">--- Chọn vùng ---</option>
                                <option value="Miền Bắc">Miền Bắc</option>
                                <option value="Miền Trung">Miền Trung</option>
                                <option value="Miền Nam">Miền Nam</option>
                            </select>
                            <div class="fieldGroup ">
                                <p class="control-label">Quốc gia</p><input type="text" formControlName="country" [(ngModel)]="this.profile.country" name="date_of_birth" placeholder="" maxlength="5000" autocomplete="false">
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Thành phố</p><input type="text" formControlName="city" [(ngModel)]="this.profile.city" name="date_of_birth" placeholder="" maxlength="5000" autocomplete="false">
                            </div>
                            <p class="control-label">Giới tính</p>
                            <div class="d-flex"><label class="gender--radio"><input formControlName="gender" [(ngModel)]="this.profile.gender" name="gender" type="radio" value="male">Nam<span></span></label><label class="gender--radio"><input name="gender" type="radio" value="female">Nữ<span></span></label></div>
                            <div class="fieldGroup ">
                                <p class="control-label">Ảnh đại diện</p><input type="file"  formControlName="avatar" [(ngModel)]="this.profile.avatar" name="avatar" placeholder="" maxlength="5000" autocomplete="false">
                            </div>
                            <div class="fieldGroup ">
                                <p class="control-label">Ảnh chi tiết</p><input type="file"  formControlName="image" [(ngModel)]="this.profile.image" name="image" placeholder="" maxlength="5000" autocomplete="false" multiple>
                            </div>
                            <hr><button type="submit" class="btn-update">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
