.fieldGroup input{
border: solid 1px ;
}
.aside .example-custom-input, .aside input, .aside select{
border: solid 1px ;

}
.aside select{
    margin-bottom:7px;
}.invalid-feedback{
    color: rgb(240, 86, 74);
}